<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.roncoo.education.mapper.RoncooUserMapper" >
  <resultMap id="BaseResultMap" type="com.roncoo.education.bean.RoncooUser" >
    <id column="actor_id" property="id" jdbcType="INTEGER" />
    <result column="first_name" property="name" jdbcType="VARCHAR" />
    <result column="last_update" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    actor_id,first_name,last_name,last_update
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    *
    from actor
    where actor_id = #{id,jdbcType=INTEGER}
  </select>
</mapper>